.app-bdrdu-5 {
  border-radius: 5px;
}

.app-bdrdu-10 {
  border-radius: 10px;
}

.app-bdrdu-20 {
  border-radius: 20px;
}

.app-bdrdu-50 {
  border-radius: 50px;
}

.app-bdrdu-50per {
  border-radius: 50%;
}
