.app-bgc-548235 {
  background-color: #548235;
}

.app-bgc-735a4b {
  background-color: #735a4b;
}

.app-bgc-808080 {
  background-color: #808080;
}

.app-bgc-007ac0 {
  background-color: #007ac0;
}

.app-bgc-be8c4b {
  background-color: #be8c4b;
}

.app-bgc-c1c1c1 {
  background-color: #c1c1c1;
}

.app-bgc-009845 {
  background-color: #009845;
}

.app-bgc-000000 {
  background-color: #000000;
}

.app-bgc-ffffff {
  background-color: #ffffff;
}

.app-bgc-fbfbfb {
  background-color: #fbfbfb;
}
