.app-bdt-1-s-be8c4b {
  border-top: 1px solid #be8c4b;
}

.app-bdr-1-s-be8c4b {
  border-right: 1px solid #be8c4b;
}

.app-bdb-1-s-be8c4b {
  border-bottom: 1px solid #be8c4b;
}

.app-bdl-1-s-be8c4b {
  border-left: 1px solid #be8c4b;
}

.app-bda-1-s-be8c4b {
  border: 1px solid #be8c4b;
}
