$enum: 1, 2;

@for $i from 1 to length($enum) + 1 {
  .app-fx-#{nth($enum, $i)} {
    flex: #{nth($enum, $i)};
  }
}

// 命名规律为3个属性的value以'-'的拼接
// 例如下面的app-fx-ffsfs，3个属性的value拼接起来就是flex-flex-start-flex-start
// -> ffsfs

.app-fx-ffsfs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.app-fx-ffsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-fx-ffsfe {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.app-fx-fcfs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-fx-fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-fx-fcfe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app-fx-fsbfs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.app-fx-fsbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-fx-fsbfe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.app-fx-fsafs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.app-fx-fsac {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-fx-fsafe {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.app-fx-ffefs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.app-fx-ffec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-fx-ffec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-fx-ffefe {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.app-fx-if {
  display: inline-flex !important;
}

.app-fx-wrap {
  flex-wrap: wrap;
}

.app-fx-direct-r {
  flex-direction: row;
}

.app-fx-direct-rr {
  flex-direction: row-reverse;
}

.app-fx-direct-c {
  flex-direction: column;
}

.app-fx-direct-cr {
  flex-direction: column-reverse;
}

.app-fx-ac-c {
  align-content: center;
}

.app-fx-ac-fs {
  align-content: flex-start;
}

.app-fx-ac-fe {
  align-content: flex-end;
}

.app-fx-ac-sb {
  align-content: space-between;
}

.app-fx-ac-sa {
  align-content: space-around;
}
