.app-fzc-be8c4b {
  color: #be8c4b;
}

.app-fzc-548235 {
  color: #548235;
}

.app-fzc-735a4b {
  color: #735a4b;
}

.app-fzc-808080 {
  color: #808080;
}

.app-fzc-007ac0 {
  color: #007ac0;
}

.app-fzc-999999 {
  color: #999999;
}

.app-fzc-333333 {
  color: #333333;
}

.app-fzc-009845 {
  color: #009845;
}

.app-fzc-000000 {
  color: #000000;
}

.app-fzc-c7c7cc {
  color: #c7c7cc;
}

.app-fzc-636366 {
  color: #636366;
}
