$enum: 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60;

@for $i from 1 to length($enum) + 1 {
  .app-mgt-#{nth($enum, $i)} {
    margin-top: #{nth($enum, $i)}px;
  }
}

@for $i from 1 to length($enum) + 1 {
  .app-mgr-#{nth($enum, $i)} {
    margin-right: #{nth($enum, $i)}px;
  }
}

@for $i from 1 to length($enum) + 1 {
  .app-mgb-#{nth($enum, $i)} {
    margin-bottom: #{nth($enum, $i)}px;
  }
}

@for $i from 1 to length($enum) + 1 {
  .app-mgl-#{nth($enum, $i)} {
    margin-left: #{nth($enum, $i)}px;
  }
}

@for $i from 1 to length($enum) + 1 {
  .app-mga-#{nth($enum, $i)} {
    margin: #{nth($enum, $i)}px;
  }
}
