// 命名方式
// --color-xxxxxx: #xxxxxx;

:root {
  --color-007ac0: #007ac0;
}

html {
  font-family: 'Microsoft YaHei';
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  // user-select: none;
}

#appQqMapPage {
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#appUploadManagerDom {
  position: fixed;
  z-index: -99999;
  top: 999999px;
  right: 999999px;
}

#app-fix-nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;
}

#app-fix-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.app-upload-box-by-vant-reset {
  padding: 16px;
  height: 100%;
  display: flex;
}

.app-upload-box-by-vant-reset > .label {
  font-size: 14px;
  color: #323232;
  max-width: 6.2em;
  min-width: 6.2em;
  margin-right: 24px;
}

.app-upload-box-by-vant-reset > .cell-value {
  flex: 1;
}

.app-checkbox-cell-class-by-vant-reset {
  flex: none !important;
}

.app-avatar-container-landscape {
  width: 350px;
  height: 210px;
}
.app-avatar-container-vertical {
  width: 300px;
  height: 300px;
}
.app-avatar-container-square {
  width: 300px;
  height: 300px;
}

// @import "./animate.scss";
@import './mixin.scss';

@import './varCss/fz.scss';
@import './varCss/width.scss';
@import './varCss/height.scss';
@import './varCss/mg.scss';
@import './varCss/fzc.scss';
@import './varCss/pd.scss';
@import './varCss/flex.scss';
@import './varCss/cursor.scss';
@import './varCss/border.scss';
@import './varCss/opacity.scss';
@import './varCss/active.scss';
@import './varCss/bdrdu.scss';
@import './varCss/bgc.scss';
